

<div class="form-container">
<h2>SIGN IN</h2>

<%= simple_form_for :session, url: sign_in_path, method: :post do |f| %>
  <%= f.input :email, label: 'Email' %>
  <%= f.input :password, label: 'Password', as: :password %>
  <%= f.button :submit, "Sign In" %>
<% end %>

<%= link_to sign_up_path, class: "signup-appeal", title: "Sign up", aria: { label: "Sign up"} do %>
      Don't have an account? Sign up! 
<% end %>
<div>
