<h2>SIGN UP</h2>

<%= simple_form_for @user do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <%= f.button :submit, "Sign Up" %>
<% end %>

<h2>LOG IN</h2>

<%= simple_form_for :session, url: log_in_users_path, method: :post do |f| %>
  <%= f.input :email, label: 'Email' %>
  <%= f.input :password, label: 'Password', as: :password %>
  <%= f.button :submit, "Sign In" %>
<% end %>
